*{
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #FF69B4;
}
.one{
  padding-top: 170px;
  height: 8;
  font-size: 50px;
  padding-right: 370px;
  font-weight: bold;
  color: #800080;
 
}
.br{
  background-color: #800080;
 height: 5px;
 width: 1px;
 padding-left: 300px;
 padding-right: 30px;
 border-radius: 20px;
 margin-left: 345px;
 border: 0;
 
}

.two{
 width: 500px;
 height: 30px;
 background-color:#D3D3D3;
 border-radius: 23px;
 border: 0;
 font-size: 15px;
 margin-left: 30px;
 margin-bottom: 8px;
}
.three{
  width: 500px;
 height: 30px;
 background-color:#D3D3D3;
 border-radius: 23px;
 border: 0;
 font-size: 15px;
 margin-left: 30px;
 margin-bottom: 8px;

}
.four{
  width: 500px;
  height: 120px;
  background-color:#D3D3D3;
  border-radius: 23px;
  border: 0;
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 5px;
  color: gray;
  

}
.four:focus{
  background-color: #ADD8E6;
}
.three:focus{
  background-color: #ADD8E6;
  
}
.two:focus{
  background-color: #ADD8E6;
}
.five:focus{
  background-color: yellow;
  
}
.five{
  width: 140px;
  height: 40px;
  color: black;
  background-color: #40E0D0;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300px;
  
}